<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Kaury_Desconto>
			<version>0.1.0</version>
		</Kaury_Desconto>
	</modules>
	<frontend>
		<routers>
			<desconto>
				<use>standard</use>
					<args>
						<module>Kaury_Desconto</module>
						<frontName>desconto</frontName>
					</args>
			</desconto>
		</routers>
		<layout>
    		<updates>
        		<desconto>
            		<file>kaury_desconto.xml</file>
            	</desconto>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
    		<desconto>
        		<class>Kaury_Desconto_Helper</class>
        	</desconto>
		</helpers>
	</global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <desconto>
                                            <title>Kaury Desconto</title>
											<sort_order>70</sort_order>
                                        </desconto>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
        <default>
            <desconto>
                <desconto_general>
                    <enabled>0</enabled>
                    <desconto_jquery>1</desconto_jquery>
					<desconto_desconto>0</desconto_desconto>                                       
                </desconto_general>
            </desconto>
        </default>
</config>
